# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/
.env
.venv/

# Django
*.log
local_settings.py
db.sqlite3

# DVC
/dvc_pipeline/data/loans.csv
/dvc_pipeline/data/loans_clean.csv
/dvc_pipeline/models/model.pkl

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
